
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${user.getUserName()}">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="account">User Account</a>
          <a class="dropdown-item" href="/">My Projects</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class = "row">
    <div class = "col-6">
      <h1> Project Details </h1>
      <h4>Project Name:</h4> <span th:text="${project.projectName}"></span><br>
      <h4> Project Description:</h4> <span th:text="${project.projectDescription}"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Updates:
      <table border="0">

        <thead>
        <tr>
          <th style="text-align: center">Update #</th><th> </th><th style="text-align: center" >Update Description</th><th> </th><th style="text-align: center">Update text</th>
        </tr>
        </thead>
        <tr th:each="update: ${updates}" style="padding: 15px;">
          <td th:text="${update.updateCreatedOn}">text</td>
          <td> </td>
          <td th:text="${update.updateDescription}">empty</td>
          <td> </td>
          <td th:text="${update.updateText}">text</td>

        </tr>
      </table>
      <div class="col-12">
      <form method="post"  th:action="@{/projectpage?id={id}(id=${project.projectId})}">
        <label for = "updDesc">Update Description</label><input type = "text"  name="updDesc" id="updDesc"></input><br/>
        <label for = "updText">Update Text</label><input type = "text"  name="updText" id="updText"></input><br/>
        <input type="submit" value="Add Update"/>
      </form>
      </div>
      </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>